#Maven
.idea
.run
**.iml
target
.classpath
.project
.settings/
**.orig
app-dynamics
**.versionsBackup
.factorypath
#Gradle
.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
#Java Scripti
**/bower_components/**
**/node_modules/**